body {
    background-color: #EEE;
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    background-image: url(https://github.com/vojiranto/vojiranto.github.io/blob/master/images/f.png?raw=true);
    background-position: top left;
}
@media screen and (min-width: 840px) {
    .body {
        background-color: #FFF;
        border-radius: 5px;
        color: black;
        font-size: 16px;
        width: 600px;
        margin-left: 200px;
        padding: 20px 20px 20px 20px; 
        border: 0.5px solid #CCC;
    }
}

@media screen and (max-width: 840px) {
    .body {        
        border: 0.5px solid #CCC;
        background-color: #FFF;
        border-radius: 5px;
        color: black;
        font-size: 16px;
        margin-left: 200px;
        margin-right: 40px;
        padding: 30px 20px 20px 20px;
    }
}
div#header_fix {
    z-index: 1;
    padding: 5px 20px 20px 20px;
    position: fixed;
    border-radius: 5px;
    font-size: 30px; 
	background-color: #EEE;
    border: 0.5px solid #CCC;
    width:100%;
    height: 20px;
    font-weight: bold;
}

div#header {
    padding: 40px 0px 0px 100px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 20px;
    padding-top: 0px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

q { quotes: "»" "«" "›" "‹"; }


p {
    text-indent: 2em;
    margin-bottom: 0em;
    margin-top: 0.0em;
    text-align: justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.sidebar {
    position: fixed;
    width: 10pc;
    height: 100%;
}



.navigation {
    background-color: #FFF;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
    font-size: 20px; 
	padding-top: 30px;
	padding-bottom: 20px;
	margin-top: 0;
	margin-bottom: 16px;
	border: 0.5px solid #CCC;
}

