<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Страничка путника - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <div id="header_fix">Страничка путника</div>
        <div id="header"></div>
        <div class="sidebar">
            <ul class="navigation" style ="list-style-type:none; line-height:1.5;">
                <li><a href="/">Главная</a></li>
                <li><a href="/about.html">О себе</a></li>
                <li><a href="/contact.html">Контакты</a></li>
                <li><a href="/archive.html">Архив</a></li>
            </ul>
            <div class="tagcloud">
                Теги:<br>
                $tagcloud$
            </div>
        </div>
        <div class="body">
            <div id="content">
                <h1>$title$</h1>
                $body$
            </div>
            <div id="footer">
                Сайт создан с помощью 
                <a href="http://jaspervdj.be/hakyll">Hakyll</a>
            </div>
        </div>
    </body>
</html>
